<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright {{ now.Format "2006"}} <i class="fa fa-heart"></i> {{ .Site.Params.name }}
    {{ end }}
    </p>
    <p class="small">
        Stimulated by <a href="http://www.gohugo.io/">Hugo</a>
        Pretty-pretty forked from <a href="https://github.com/nodejh/hugo-theme-cactus-plus">nodejh</a>
        Great-looking avatar by <a href="https://dribbble.com/RazvanVezeteu">Razvan Vezeteu</a>
    </p>
</footer>
