<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ .Hugo.Generator }}
		{{ if .Keywords }}<meta name="keywords" content="{{ delimit .Keywords ", " }}">{{ else }}
		<meta name="keywords" content="{{ delimit .Site.Params.Keywords ", " }}">{{ end }}
		<meta name="og:title" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}">
		<meta name="google-site-verification" content="{{ .Site.Params.GoogleVerificationCode }}" />
		<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
		<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.css">
		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
		{{ end }}

		{{ if .Site.Params.enableRSS }}
		<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		{{ end }}
	</head>