<ul id="post-list" class="box-background-li">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}
            <li>
                <a href='{{ .Permalink }}'><aside class="dates">{{ .Date.Format "Jan 2, 2006" }}</aside></a>
                <a href='{{ .Permalink }}'>
                    {{ .Title }} <h2>{{ .Description | markdownify }}</h2>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
